<footer class="footer">
  <small>Your Pragmatic Catalog by
    <a href="https://www.linkedin.com/in/jfdorancy">
      Jean Faubert Dorancy
    </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", "#" %></li>
    </ul>
  </nav>
</footer>